<div class="post_list">
    {% unless page.date %}
        {% if page.title == '404...' or page.url == '/legal/' or page.url == '/legal' %}
            <ul>
                {% for post in site.posts %}
                <li><a href="{{  post.url }}" title="{{ post.title }}"><img src="/assets/img/file.ico" title="{{ post.title }}" />{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        {% elsif page.tags contains "cv" %}
            <ul>
                <li><a href="/cv/education"><img src="/assets/img/file.ico" />Education</a></li>
                <li><a href="/cv/work"><img src="/assets/img/file.ico" />Work</a></li>
                <li><a href="/cv/misc"><img src="/assets/img/file.ico" />Misc</a></li>
            </ul>
        {% elsif page.tags contains "me" %}
            <ul>
                <li><a href="/me/"><img src="/assets/img/file.ico" />About Daniel</a></li>
                <li><a href="/me/say-hi"><img src="/assets/img/file.ico" />Say Hi!</a></li>
            </ul>
        {% else %}
            {{ content }}
        {% endif %}
    {% else %}
        <ul>
            {% for post in site.posts %}
            <li><a href="{{  post.url }}" title="{{ post.title }}"><img src="/assets/img/file.ico" title="{{ post.title }}" />{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    {% endunless %}
</div>