.unhighlight {
    color: gray;
}

.unhighlight a,
.remove_highlight a:visited {
    color: gray;
}

/* from https://stackoverflow.com/a/5379820/13044791 */
.content a[href]:not(:where(
    /* exclude hash only links */
    [href^="#"],
    /* exclude relative but not double slash only links */
    [href^="/"]:not([href^="//"]),
    /* exclude mailto: links */
    [href^="mailto:"],
)):after
{
  content: ' ↗️';
}

.content a[href]:where(
    /* mailto: links */
    [href^="mailto:"],
):after
{
    content: ' 📧';
}

abbr {
    border-bottom: 1px dotted grey;
}

table.apa {
    border: none;
}
table.apa thead {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
table.apa thead tr {
    border: none;
}
table.apa thead tr th {
    border: none;
    padding: 5px;
    font-weight: bold;
}
table.apa tbody {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
table.apa tbody tr {
    border: none;
}
table.apa tbody tr td {
    border: none;
    padding: 5px;
}

